@tailwind base;
@tailwind components;
@tailwind utilities;

#email::placeholder {
    @apply text-primary-teal;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html {
    scroll-behavior: smooth;
}